* {
  font-weight: bold;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4e3e3;
  height: 140px;
  border-bottom: 1px solid #204051;
}
.inputs {
  display: flex;
  justify-content: space-around;
}
h1 {
  text-align: center;
  color: #204051;
}
input {
  border-radius: 5px;
  border: 1px solid #204051;
  background: none;
  width: 40px;
}
button {
  border-radius: 5px;
  border: 1px solid #204051;
  margin: 0px 20px;
  background-color: #e4e3e3;
  color: #204051;
}
button:hover {
  background-color: #a8a4a4;
}
label {
  color: #204051;
}
.hidden {
  display: flex;
  border: 1px solid #204051;
  color: #204051;
  left: 10vw;
  flex-flow: column wrap;
  justify-content: center;
  border-radius: 6px;
  position: absolute;
  background-color: #e4e3e3;
  width: 100px;
  height: 30px;
  text-align: center;
}
